---
import chroma from "chroma-js";

function generateGradient() {
	const colorScale = chroma
		.scale(["#1d4ed8", "#06b6d4", "#ef4444"])
		.mode("lch")
		.domain([0, 20]);
	const stops = Array.from({ length: 5 }, (_, i) => colorScale(i * 5).hex());
	return `linear-gradient(to right, ${stops.join(", ")})`;
}

const gradientStyle = generateGradient();

const years = Array.from({ length: 2022 - 1995 + 1 }, (_, i) => 1995 + i);

const optionsHtml = years
	.map((year) => `<option value="${year}">House Prices ${year}</option>`)
	.join("");

const dropdownHtml = `<label for="year-selector" class="sr-only">Select Year</label><select id="year-selector" class="p-1 rounded border" onchange="window.loadNewData()">>${optionsHtml}</select>`;
---

<style>
	#gradient-bar {
		background: linear-gradient(
			to right,
			rgb(16, 48, 94),
			rgb(136, 152, 175),
			rgb(255, 255, 255),
			rgb(210, 153, 139),
			rgb(165, 50, 23)
		);
	}

	#value-indicator-line {
		transition: left 300ms ease-in-out;
	}
</style>

<div id="map" class="w-screen h-screen"></div>
<div id="geocoder" class="geocoder fixed top-4 left-4 z-10"></div>

<div
	class="sm:w-[500px] text-sm w-full flex flex-col gap-2 absolute bottom-10 rounded-md z-10 bg-white py-4 px-6 left-1/2 transform -translate-x-1/2"
>
	<div>
		<p class="text-md font-semibold">
			House Prices as a Multiple of Median Salary
		</p>
		<p class="mb-2">England and Wales</p>
	</div>

	<div>
		<div class="w-full h-4 rounded" style={`background: ${gradientStyle};`}>
		</div>
		<div class="flex justify-between">
			<span>0x</span>
			<span>20x</span>
		</div>
	</div>

	<Fragment set:html={dropdownHtml} />

	<div>
		The median house in <span id="year" class="font-semibold">1995</span>
		cost <span id="times" class="font-semibold">5 times</span> the median salary.
		The median salary was <span id="salary" class="font-semibold">£0</span>.
	</div>
	<div id="hover">Hover over a house to see its cost.</div>
</div>

<script>
	import mapboxgl from "mapbox-gl";
	import { MapboxLayer } from "@deck.gl/mapbox";
	import { MVTLayer } from "@deck.gl/geo-layers";
	import MapboxGeocoder from "@mapbox/mapbox-gl-geocoder";
	import { GeoJsonLayer } from "@deck.gl/layers";
	import chroma from "chroma-js";

	const medianPriceData = {
		"1995": 3.63,
		"1996": 3.63,
		"1997": 3.58,
		"1998": 3.71,
		"1999": 4.04,
		"2000": 4.26,
		"2001": 4.57,
		"2002": 5.38,
		"2003": 6.15,
		"2004": 6.84,
		"2005": 6.99,
		"2006": 7.15,
		"2007": 7.3,
		"2008": 6.8,
		"2009": 6.59,
		"2010": 6.97,
		"2011": 6.71,
		"2012": 6.79,
		"2013": 6.85,
		"2014": 7.0,
		"2015": 7.43,
		"2016": 7.63,
		"2017": 7.81,
		"2018": 7.73,
		"2019": 7.59,
		"2020": 8.17,
		"2021": 8.44,
		"2022": 8.53,
	};

	let medianSalaryData = {
		"1995": 15147.4,
		"1996": 15711.0,
		"1997": 16775.4,
		"1998": 17521.6,
		"1999": 18069.4,
		"2000": 18784.3,
		"2001": 19692.2,
		"2002": 20464.4,
		"2003": 21142.8,
		"2004": 21930.7,
		"2005": 22525.5,
		"2006": 23209.0,
		"2007": 23965.6,
		"2008": 24998.8,
		"2009": 25562.3,
		"2010": 26104.9,
		"2011": 26225.0,
		"2012": 26501.5,
		"2013": 27007.6,
		"2014": 27153.7,
		"2015": 27576.4,
		"2016": 28181.6,
		"2017": 28802.6,
		"2018": 29752.2,
		"2019": 30628.8,
		"2020": 30618.4,
		"2021": 31975.0,
		"2022": 32522.9,
	};

	declare global {
		interface Window {
			loadNewData: () => void;
		}
	}

	const MAPBOX_TOKEN = import.meta.env.PUBLIC_MAPBOX_TOKEN;
	let currentYear = 1995;

	function updateMedianDisplay(year) {
		const medianValue = medianPriceData[year].toFixed(1);
		const medianSalary = medianSalaryData[year];
		const formattedSalary = new Intl.NumberFormat("en-GB", {
			style: "currency",
			currency: "GBP",
			maximumSignificantDigits: 3,
		}).format(medianSalary);

		const yearElement = document.getElementById("year");
		if (yearElement) {
			yearElement.textContent = `${year}`;
			const timesElement = document.getElementById("times");
			if (timesElement) {
				timesElement.textContent = `${medianValue} times`;
			}
			const salaryElement = document.getElementById("salary");
			if (salaryElement) {
				salaryElement.textContent = formattedSalary;
			}
		}
	}

	updateMedianDisplay(currentYear);

	const map = new mapboxgl.Map({
		container: "map",
		center: [-0.2, 51.5],
		zoom: 9,
		minZoom: 9,
		maxZoom: 17,
		style: "mapbox://styles/mapbox/dark-v11",
		accessToken: MAPBOX_TOKEN,
		antialias: true,
		projection: { name: "mercator" },
	});

	function generateColorExpression(price) {
		const colorScale = chroma
			.scale(["#1d4ed8", "#06b6d4", "#ef4444"])
			.mode("lch")
			.domain([0, 20]);
		return chroma(colorScale(price)).rgb();
	}

	map.on("load", () => {
		const firstLabelLayerId = map
			.getStyle()
			.layers.find((layer) => layer.type === "symbol").id;

		function updateLayerData(year) {
			const layerId = "map";
			if (map.getLayer(layerId)) {
				map.removeLayer(layerId);
			}

			map.addLayer(
				new MapboxLayer({
					id: layerId,
					type: MVTLayer,
					data: `https://map.kafkaesque.blog/data/${year}/{z}/{x}/{y}.pbf`,
					getLineColor: (feature) =>
						generateColorExpression(feature.properties["price"]),
					getFillColor: (feature) =>
						generateColorExpression(feature.properties["price"]),
					getPointRadius: 30,
					opacity: 0.3,
					lineWidthMinPixels: 1,
					pickable: true,
					onHover: ({ object }) => {
						const infoDiv = document.querySelector("#hover");
						if (object) {
							const price = object.properties["price"].toFixed(1);
							infoDiv.innerHTML = `This house cost <span id="times" class="font-semibold">${price} times</span> the median salary.`;
						}
					},
					renderSubLayers: (props) => {
						return new GeoJsonLayer(props);
					},
				}),
				firstLabelLayerId
			);
		}

		updateLayerData(currentYear);

		const geocoder = new MapboxGeocoder({
			accessToken: MAPBOX_TOKEN,
			mapboxgl: mapboxgl,
		});
		document.getElementById("geocoder").appendChild(geocoder.onAdd(map));

		map.addControl(new mapboxgl.NavigationControl());

		window.loadNewData = () => {
			const selectedYearElement = document.getElementById(
				"year-selector"
			) as HTMLInputElement;
			const selectedYear = parseInt(selectedYearElement.value, 10);
			if (!isNaN(selectedYear) && selectedYear !== currentYear) {
				currentYear = selectedYear;
				updateLayerData(currentYear);
				updateMedianDisplay(currentYear);
			}
		};
	});
</script>
